body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*
    width: 420mm;
    height: 297mm;
    */

    /* Aspect ratio-related */
    position: relative;
    width: 100%;
    padding-bottom: 70.7%; /* This attempts to set a 1.414:1 aspect ratio */

    /* New styles for ISO paper aspect ratio */
    max-width: 100vw;
    max-height: 141.4vh;
}

.calendar-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.calendar-body > main {
    padding: 10mm;
    background-color: lightgray;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

/* th, */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#calendar td {
    padding: 0;
    height: 100%;
    vertical-align: middle;
}

#calendar > tr {
    height: 8mm;
}

#calendar > tr > td {
    width: 20%;
    height: 100%;
}

.day-daynumber, .day-weekday {
    width: 8mm;
}

.day-events {
    display: flex;
    font-size: 1em;
}

.day-weekend {
    background-color: lightgray;
}

.day {
    margin: 0;
    padding: 0;
    height: 100%;
}

.day > td {
    border-bottom-width: 0;
    border-top-width: 0;
}

.club-subclub-table {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.subclub-logo {
    width: 10%;
}

.subclub-logo-img {
    width: 8mm;
    height: 8mm;
}

img.club-logo {
    width: 5cm;
    height: 5cm;
}

.subclub-logo-img-display {
    width: 1.5cm !important;
    height: 1.5cm !important;
}

.subclub-resp {
    width: 20%;
}

div.subclub-event {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 100%;
}

@page
{
    size: a3;
    size: landscape;
}

@media print {
    body {
      margin: 0;
      padding: 0;

      width: 100%; /* Full width for printing */
      height: 100%;
    }

    table {
        border-collapse: collapse;
    }
  }