body {
    font-family: Arial, sans-serif;

    width: 420mm;
    height: 297mm;
    padding: 0;
    margin: 0;
}

body > main {
    padding: 10mm;
    background-color: lightgray;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
}

/* th, */
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#calendar td {
    padding: 0;
    height: 8mm; /* Adjust as needed */
}

#calendar > tr > td {
    width: 20%;
    height: 100%;
}

.day-daynumber, .day-weekday {
    width: 8mm;
}

.day-weekend {
    background-color: lightgray;
}

.day {
    margin: 0;
    padding: 0;
    height: 100%;
}

.day > td {
    border-bottom-width: 0;
    border-top-width: 0;
}

.club-subclub-table {
    margin: 0;
    width: 100%;
    height: 100%;
}

.subclub-logo {
    width: 10%;
}

.subclub-resp {
    width: 20%;
}

@page
{
    size: a3;
    size: landscape;
}

@media print {
    body {
      margin: 0;
      padding: 0;

      width: 100%; /* Full width for printing */
      height: 100%;
    }

    table {
        border-collapse: collapse;
    }
  }